

ul{
    background-color: black;
    margin:0;
    padding:0;
    overflow:hidden
}
li{
    color:black;
    float:left;
}
li a{
    display: block;
    color:white;
    text-align:center;
    width: 100px;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover{
    background-color: grey;
}