ul{
    background-color: black;
    margin:0;
    padding:0;
    overflow:hidden
}
#grad{
    background-image:linear-gradient(white,grey);
}
li{
    color:black; 
    float:left;
    

}
li a{
    font-family:Arial,Helvetica,sans-serif;
    display: block;
    color:white;
    text-align:center;
    width: 150px;
    padding: 14px 14px;
    text-decoration: none;
}
li a:hover{
    background-color: grey;
}
h1
{
    text-align:center;
    font-family:Arial,Helvetica,sans-serif;
}
h2
{
    text-align:center;
    font-family:Arial,Helvetica,sans-serif;
}

p{
    text-align:center;
    font-family: Arial,Helvetica,sans-serif;
}
