html{
    height:100%;
}
body
{
    background-image:linear-gradient(180deg,#ffffff,#ababab);
    height:100%;
    margin:0;
    background-repeat:norepeat;
}
ul{
    background-color: black;
    margin:0;
    padding:0;
    overflow:hidden
}
li{
    color:black;
    float:left;
}
li a{
    font-family:Arial,Helvetica,sans-serif;
    display: block;
    color:white;
    text-align:center;
    width: 150px;
    padding: 14px 14px;
    text-decoration: none;
}
li a:hover{
    background-color: grey;
}
h1
{
    font-family:Arial,Helvetica,sans-serif;
}
h2
{
    font-family:Arial,Helvetica,sans-serif;
}
p{
    text-align:center;
    font-family: Arial,Helvetica,sans-serif;
}


\* all of the below is used for the account form submission */
body {
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    font-family: 'Poppins', sans-serif; \* change for future use */
}

#form {
    width: 300px;
    margin: 20vh auto 0 auto;
    padding: 20px;
    back-color: whitesmoke; \* has an issue atm supposed to be white background */
    border-radius: 4px;
    font-size: 12px;
}

#form h1 {
    color: #0f2027;
    text-align: center;
}

#form button {
    text-align:center;
    padding: 10px;
    margin-top: 10px;
    width: 108%;
    color: white;
    background-color: rgb(41,57,194);
    border: none;
    border-radius: 4px;
}

.input-control input {
    border:2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-size: 12px;
    padding: 10px;
    width: 100%;
}

.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}