html{
    height:100%;
}
body
{
    background-image:linear-gradient(180deg,#ffffff,#ababab);
    height:100%;
    margin:0;
    background-repeat:norepeat;
}
img
{
    width: 1000px;
    height: auto;
}
h1
{
    text-align:center;
    font-family:Arial,Helvetica,sans-serif;
}
h2
{
    text-align:center;
    font-family:Arial,Helvetica,sans-serif;
}
