body {
      background-color: black;
      color: white;
      }
@keyframes flicker {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
    100%{opacity:1;}
}

.flicker {
    animation: flicker 1s infinite;
}

p{
  color:black
  text-align:center;
}