<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account</title>
    <link rel="stylesheet" href= "/static/accountstyle.css">
    <script defer src="/static/Form.js"></script>
</head>

<ul>
    <li><a href="/">Home</a></li>
    <li><a href="./FAQ">FAQ</a></li>
    <li><a href="./About">About</a></li>
    <li><a href="./CreateAccount">Create Account</a></li>
</ul>

<body>
    <div class="container">
        <form id="form" action="/">
            <h1>Sign In</h1>
            <div class="input-control">
                <label for="username">Username</label>
                <input id="username" name="username" type="text">
                <div class="error"></div>
            </div>
            <div class="input-control">
                <label for="password">Password</label>
                <input id="password" name="password" type="password">
                <div class="error"></div>
            </div>
            <button type="submit">Sign up</button>
        </form>
    </div>
    <p>
        Notice to all active employees, your username is to your discretion, but our company only allows for passwords
        that are assigned to you from the company during testing phase.
    </p>
</body>
</html>