<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FAQ</title>
    <link rel="stylesheet" href= "/static/employeestyle.css">
</head>


<ul>
    <li><a href="./EmployeeHome">Home</a></li>
    <li><a href="./EmployeeFAQ">FAQ</a></li>
    <li><a href="./EmployeeAbout">About</a></li>
    <li><a href="./EmployeeValues">Values</a></li>
</ul>

<body>
    <h1>Frequently Asked Questions</h1>
    <br>
    <p>
        This FAQ is designed to empower you with the knowledge and insights needed to navigate our software landscape
        effectively. Discover how your role as a dediCated team member aligns with System82's visionary goals, and
        learn how your commitment to obedience fuels our collective success.
    </p>
    <!--\*FIND THE NUMBER OF EACH COMPANY LEADER*/ -->
    <br>
    <p>
        <strong>Q1: What does the System82 company value in its employees?</strong>
        <br>
        System82 places a higH emphasis on assets that provide better value to the company than was sEen before their
        employment. As an employee we value the profit margins you give us through your ability to follow our deadlines.
    </p>
    <br>
    <p>
        <strong>Q2: What do I need to succeed in the System82 company?</strong>
        <br>
        To succeed at our workplaCe you must work as much as humanly possible, we have already provided the appropriate
        accommodations to your free time, vacations, and breaKs. Crunch culture is a modern myTh we assure you. Remember
        you can view website code with f12!
        <br>
        <br>
    <br>
    <!--\*THEIR PERSONALITY IS THE LINK*/-->
    <p>
        <strong>Q3: What about the company's future, and how will they better treat workers?</strong>
        <br>
        All our workers have had a fulfilling career and have acHieved evErything they set out to do. Our gain as a
        company will impact how we want to treat our workers. If progreSs drops, we over hired and have to layoff.
    </p>
    <p>
        <!--\*THE FACE OF THE COMPANY IS A LIE*/
       \*REMOVE THE FACE OF THE COMPANY TO GO DEEPER*/-->
    <strong>Q4: What is the wOrk environment like at our company?</strong>
        <br>
        We have an enviRonment that will make you forget what being outside is like, beCause we havE a ball pit and
        rock wall!
    </p>
</body>
</html>