<!DOCTYPE html>
<html>
<head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>System82 Employees</title>
    <link rel="stylesheet" href= "employeestyle.css">
    <script defer src="/static/employeefunc.js"></script>

</head>

<ul>
    <li><a href="./EmployeeHome">Home</a></li>
    <li><a href="./EmployeeFAQ">FAQ</a></li>
    <li><a href="./EmployeeAbout">About</a></li>
    <li><a href="./EmployeeValues">Values</a></li>
</ul>

<h1 id="user">
    Welcome, User
</h1>
<h2>Congratulations on the First Step!</h2>
<div id="key" style="text-align:center;">
    <img  src="./ceo.png" alt="Ceo">
    <div style="text-align:center;" id="keyheader"> </div>
</div>

<body>
    <button class="btn btn-success" style=margin-right:auto;margin-left:auto; type="submit" onclick=validateCode(); >Confirm</button>
    <input id="codeInput" name="Access Code" type="text">
</body>

</html>
