<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee About</title>
    <link rel="stylesheet" href= "../employeeAbout.css">
</head>

<ul>
    <li><a href="..">Home</a></li>
    <li><a href="./FAQ">FAQ</a></li>
    <li><a href="./About">About</a></li>
    <li><a href="./CreateAccount">Create Account</a></li>
</ul>

<body>
    <h1>Our Leadership</h1>
    <br>
    <br>
    <p>
        <strong>Alexander Mitchell</strong>
        One of our founding members, alex is driven to provide people with as much fun and enjoyment in their life as
        possible. Alex
    </p>
    <img  src="../CEO1.png" alt="Alex">
    <br>
    <p>
        <strong>Oliva Reynolds</strong>
    </p>
    <img  src="../CEO4.png" alt="Oliva">
    <br>
    <p>
        <strong>Benjamin Turner</strong>
    </p>
    <img  src="../CEO2.png" alt="Ben">
    <br>
    <p>
        <strong>Emily Bennett</strong>
        <br>
    </p>
    <img  src="../CEO3Corrupt.png" alt="Emily and the company">
</body>
</html>