<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee About</title>
    <link rel="stylesheet" href= "/static/employeestyle.css">
</head>


<ul>
    <li><a href="./EmployeeHome">Home</a></li>
    <li><a href="./EmployeeFAQ">FAQ</a></li>
    <li><a href="./EmployeeAbout">About</a></li>
    <li><a href="./EmployeeValues">Values</a></li>
</ul>

<body>
    <h1>Our Leadership</h1>
    <br>
    <br>
    <p>
        <strong>Alexander Mitchell</strong>
        One of our founding members, alex is driven to provide people with as much fun and enjoyment in their life as
        possible. Alex can only be described as full of life, uplifting, and charming!
    </p>
    <img  src="/static/CEO1.png" alt="Alex">
    <br>
    <p>
        <strong>Oliva Reynolds</strong>
        Dynamic, efficient, controlled and capable! Oliva is a more recent addition to our executive team but has
        boundless courage, and ability to address difficulty!
    </p>
    <img  src="/static/CEO4.png" alt="Oliva">
    <br>
    <p>
        <strong>Benjamin Turner</strong>
        The perfect addition to our workplace, being a part of our company for the past few years Ben has been a
        stimulating person in the workplace. Always being able to provide fresh ideas, and full of novelty and wit!
    </p>
    <img  src="/static/CEO2.png" alt="Ben">
    <br>
    <p>
        <strong>Emily Bennett</strong>
        Mysterious, different, yet serious and focused on the importance of her higher duties. Emily is highly
        independent, and she exudes extremely valuable wisdom for every worker, ever since she has existed as the
        company.
    </p>
    <img  src="/static/CEO3Corrupt.png" alt="Emily and the company">
    <br>
</body>
</html>