<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Values</title>
    <link rel="stylesheet" href= "/static/employeestyle.css">
</head>

<ul>
    <li><a href="./EmployeeHome">Home</a></li>
    <li><a href="./EmployeeFAQ">FAQ</a></li>
    <li><a href="./EmployeeAbout">About</a></li>
    <li><a href="./EmployeeValues">Values</a></li>
</ul>
<body>
    <h1>Where do we place our values?</h1>
    <br>
    <p>
        We place our values in understanding our workers and our workplace. The first step to that is connecting with
        each other through a personality test of sorts. The company is obsessed with the numerical encoding of the
        universe and has such decided that each employee is numbered according to their personality. These numbers are
        confidential to the employee only and are not public.
    </p>
    <br>
    <p>
        <strong>1.</strong>
            Radiating with dynamic and efficient energy. You are controlled and capable of what you put your mind to.
            You have the courage to overcome difficulty and you show it.
    </p>
    <br>
    <p>
        <strong>2.</strong>
        You are friendly and unpretentious, you are perceived as soft, warm and approachable. People are drawn to you
        for the comfort you exude.
    </p>
    <br>
    <p>
        <strong>3.</strong>
        You are full of life, you uplift, inspire, and charm those around you. You are always bringing fun whever you go
        and with such a personality you are the life of the party.
    </p>
    <br>
    <p>
        <strong>4.</strong>
        You are a family bound person, rooted in comfort. You are a provider and protector of those around you.
        Unfortunately you are often taken for granted.
    </p>
    <br>
    <p>
        <strong>5.</strong>
        You are just a stimulating person, witty and often fresh in the eyes of others. You bring change and
        insirpation through diversity of ideas!
    </p>
    <br>
    <p>
        <strong>6.</strong>
        You create understanding and compassion all around. People sense that fairness of you, that attracts them,
        you aid those in discomfort and those who are treated unfairly.
    </p>
    <br>
    <p>
        <strong>7.</strong>
        Mysterious and different you are a serious person constantly focused on the betterment of the company and its
        grandeur goals. The company favorite.
    </p>
    <br>
    <p>
        <strong>8.</strong>
        You are strong and powerful. The ability to influence others by leading with an example of action. You create
        natural authority around you, therefore others will flock to you.
    </p>
    <br>
    <p>
        <strong>9.</strong>
        You are impressive and aristocratic, often seen as "better" than others. You are in control of your own image
        and show others what they often want to out of you rather than who you are.
    </p>
    <br>
</body>