 <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/Tier3.css">
        <script defer src="/static/final.js"></script>


    </head>
<body>
    <h1><strong>Last Step</strong></h1>
    <p1>
         37°52'01.7"N 122°25'50.8"W
         <button class="btn btn-success" style=margin-right:auto;margin-left:auto; type="submit" onclick=validateCode(); >Confirm</button>
         <input id="codeInput" name="Access Code" type="text">
    </p1>
</body>